body {
  font-family: monospace;
}

#title-bar {
  display: flex;
  align-items: center;
}

h1 {
  margin-right: 50px;
}

#coins-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.coin-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 10px;
}

.chart {
  margin: 10px;
  width: 40vw;
}
